* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  border: 1px solid black;
  width: 364px;
  height: fit-content;
}
.box .w_space {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 199px;
}
.box .b_space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  padding: 20px;
  padding-left: 27px;
  background-color: black;
  color: white;
}
.box .b_space h1 {
  font-size: 24px;
  margin-top: 10px;
}
.box .b_space p {
  color: rgba(255, 255, 255, 0.56);
  font-size: 14px;
}
.box .b_space ul {
  display: flex;
  gap: 18px;
}
.box .b_space ul li {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.box .b_space button {
  width: 305px;
  height: 55px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}